/* 
font-family: 'Courgette', cursive;
font-family: 'Open Sans', sans-serif;
 */

:root {
  --blue: rgb(128, 225, 255)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-size: 100%;
  /* width: 360px; */
  /* height: 640px; */
  padding: 10px 30px 40px;
  border: 2px solid black;
}

/* .name {
  font-size: 36px;
  font-family: 'Courgette', cursive;
  color: rgb(128, 225, 255)
} */

.charts {
  color: white;
  margin-top: 10px;
}

.chart {
  /* display: flex; */
  /* justify-content: space-between; */
  line-height: 50px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  /* margin-top: 10px; */
}

.chart .tag {
  display: inline-block;
  width: 150px;
}
.chart .data {
  font-family: 'Courgette', cursive;
}

.chart.weather .data {
  display: inline-flex;
  line-height: 50px;
}

.chart.weather .data .icon {
  margin-left: 5px;
  height: 50px;
  width: 50px
}